.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.header h1 {
    margin: 0;
    font-size: 1.4rem;
}

.header a {
    background-color: mediumslateblue;
    color: #222;
    padding: 5px 8px;
    border-radius: 3px;
}

.header a:hover {
    color: white;
}

.content {
    padding:25px;
    height: 100px;
}